/*
    Footer
*/
footer{
    position: absolute;
    width: 100vw;
    color: #fff;
    background-color: #535DF5;
}

.footer__content div{
    margin: 0 0 0 2%;
    border-right: 1px solid #fff;
}
.footer__content div:last-child{
    border-right: none;
}

.footer__title{
    margin: 0 0 20px 0;
    font-size: 24px;
    font-weight: 600;
}
.footer__description{
    font-size: 14px;
}

.footer__list{
    list-style: none;
}

.footer__list li:first-child {
    margin: 0;
}
.footer__list li {
    margin: 10px 0 0 0;
}
.footer__list li a {
    display: flex;
    align-items: center;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
}
.footer__list li a:hover {
    font-weight: 800;
    color: #313883;
}

.footer__icon{
    max-width: 30px;
    margin: 0 5%;
}
.footer__copyright{
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #313883;
}
.footer__copyright p{
    font-size: 12px;
}

@media screen and (max-width: 900px) {
    .footer__content div{
        margin: 10% 0 0 2%;
    }
}