/*
    !!! WARNING !!!

    To create new class, use pattern BEM:

    block__element--modifier
*/


/*
    Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*
    Style of each section
*/
@import url('./navbar.css');
@import url('./welcome.css');
@import url('./footer.css');
@import url('./partners.css');



/*
    General config
*/
html,
body{
width: 100%;
overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* scrollbar */
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #0093FE #9A34FC;
  }

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background: #555;
}
*::-webkit-scrollbar-thumb {
    background: #9A34FC;
    border-radius: 20px;
    border: 3px solid #9A34FC;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #888;
}

p{
    font-size: 14px;
    line-height: 22px;
}
  
.container{
    max-width: 800px;
    align-items: center;
    margin: 6% auto;
}

.d-md-flex-d-sm-block{
    display: flex;
    justify-content: space-between;
}

.mb-auto{margin-bottom: auto;}
.mt-5{margin-top: 5%;}
.mr-5{margin-right: 5%;}
.ml-5{margin-left: 5%;}
.mb-5{margin-bottom: 5%;}

.m-auto-2{ margin: auto 2%!important; }

.pb-auto{padding-bottom: auto;}
.pt-5{padding-top: 5%;}
.pr-5{padding-right: 5%;}
.pl-5{padding-left: 5%;}
.pb-5{padding-bottom: 5%;}

.pt-2{padding-top: 2%;}
.pr-2{padding-right: 2%;}
.pl-2{padding-left: 2%;}
.pb-2{padding-bottom: 2%;}

.col-md-6{ width: 50%; margin: 2%; }
.col-md-3{ width: 25%; margin: 2%; }

.title{
    font-size: 32px;
    font-weight: 800;
    line-height: 35px;
    text-transform: uppercase;
}
.title--upper{
    font-size: 28px;
    font-weight: 300;
    line-height: 35px;
}
.title--down{
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}

/* About */
.about__img{
    max-width: 400px;
}

/* Alice Play & Actors */
.alice-actors__img{
    max-width: 300px;
    margin: 2%;
}

/* Round Table */
.round-table__subtitle{
    font-size: 18px;
    font-weight: 500;
}
.round-table__profs{
    margin: 5% 0;
    font-size: 14px;
}

/* Video Parallax */
.parallax{
    min-height: 500px;
    background-image: url(../images/bg-parallax.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.iframe{
    max-width: 100%;
}
.card{
    padding: 10%;
    border-radius: 8px;
    background-color: #ffffffa6;
    color: #000;
}

/* FAQ */
.pedagogical-guide__btn{
    padding: 10px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    color: #fff;
    background-color: #0093FE;
}

/* FAQ */
.collapsible{
    width: 100%;
    padding: 18px;
    border: none;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    background-color: transparent;
}
.collapsible::after{
    content: '+';
    font-size: 36px;
    color: #212121;
    float: right;
}
.active::after{
    content: '-';
}
.collapsible__content{
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

/* Responsive */

@media screen and (max-width: 900px) {
    .container{ margin: 6% 10%; }
    .d-md-flex-d-sm-block{display: block; }
    .col-12{ width: 100%; }

    img,
    .about__img,
    .alice-actors__img{
        max-width: 100%;
        max-width: -webkit-fill-available;
    }
}