/*
    !!! WARNING !!!

    To create new class, use pattern BEM:

    block__element--modifier
*/


/*
    Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*
    Style of each section
*/
@import url('./navbar.css');
@import url('./welcome.css');
@import url('./footer.css');


/*
    General config
*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.container{
    max-width: 800px;
    align-items: center;
    margin: 6% auto;
}

.d-md-flex-d-sm-block{
    display: flex;
    justify-content: space-between;
}

.mb-auto{margin-bottom: auto;}
.mt-5{margin-top: 5%;}
.mr-5{margin-right: 5%;}
.ml-5{margin-left: 5%;}
.mb-5{margin-bottom: 5%;}

.pb-auto{padding-bottom: auto;}
.pt-5{padding-top: 5%;}
.pr-5{padding-right: 5%;}
.pl-5{padding-left: 5%;}
.pb-5{padding-bottom: 5%;}

.col-md-6{ width: 50%; }
.col-md-3{ width: 25%; }

.title{
    font-size: 32px;
    font-weight: 800;
}
.title--upper{
    font-size: 28px;
    font-weight: 300;
}
.title--down{
    font-size: 24px;
    font-weight: 600;
}

/* About */
.about__img{
    max-width: 400px;
}

/* Round Table */
.round-table__subtitle{
    font-size: 18px;
    font-weight: 500;
}

/* Video Parallax */
.parallax{
    min-height: 500px;
    background-image: url(../images/bg-parallax.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.iframe{
    max-width: 100%;
}
.card{
    padding: 10%;
    border-radius: 8px;
    background-color: #00000069;
    color: #fff;
}

@media screen and (max-width: 900px) {
    .container{ margin: 6% 10%; }
    .d-md-flex-d-sm-block{display: block; }
    .col-12{ width: 100%; }

    /* About */
    .about__img{
        max-width: 100%;
        max-width: -webkit-fill-available;
    }
}