/*
    Welcome
*/
.welcome{
    width: 100%;
    background-image: url('../images/bg-welcome.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.welcome__content{
    margin: 40% 0 0 0;
    padding: 0 0 10% 0;
    display: flex;
    justify-content: center;
    color: #fff;
}

.welcome__title{
    font-size: 48px;
    font-weight: 800;
}

@media screen and (max-width: 600px) {
    .welcome__title{
        font-size: 24px;
    }
}